<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scrabble Score - Results</title>
</head>
<body>
    <%if (success) { %>
      <span><%= result %></span>
    <% } else { %>
      <% if (letter_size_flag) { %>
        <span><%= error_message %></span>
      <% } %>
    <% } %>
</body>
</html>